/* build time:Thu Apr 30 2020 17:20:47 GMT+0800 (GMT+08:00)*/
.video-container{z-index:1;position:relative;padding-bottom:56.25%;margin:0 auto}.video-container embed,.video-container iframe,.video-container object{z-index:1;position:absolute;top:0;left:7%;width:85%;height:85%;box-shadow:0 0 20px 2px #888}
/* rebuild by neat */